html, body, h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.btn {
    padding: 4px 16px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;

    -webkit-transition: background-color 1s, border-color 1s;
    -moz-transition: background-color 1s, border-color 1s;
    -o-transition: background-color 1s, border-color 1s;
    transition: background-color 1s, border-color 1s
}

.media-container img {
    width: 100px;
}

.full-width {
    width: 100%;
}

.btn-addon {
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: bottom;
}

.btn-lg {
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-sm,
.btn-xs {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-xs { padding: 1px 5px; }

.table .btn-xs {
    margin-top: -2px;
    margin-bottom: -2px;
}

.label { font-weight: normal; }

.fill-parent { width: 100%; }

.input-lang-addon {
    min-width: 90px;
    text-align: left;
}

.btn-kameli {
    color: #fff;
    border-color: #2e373e;
    background: #2e373e;
}
    .btn-kameli:hover {
        color: #fff;
        border-color: #39444d;
        background-color: #39444d;
    }

    .btn-kameli:focus { color: #fff; }
    .btn-kameli .caret { border-top-color: #eee; }

.absolute-center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.kameli-navbar {
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #d3d4d5;
    background: #f7f8f9;
    font-size: 13px;
    line-height: 60px;
}
    .kameli-navbar a {
        text-decoration: none;
    }

.kameli-logo {
    margin-right: 8px;
    vertical-align: text-bottom;
}

.kameli-title {
    color: #909497;
    font-size: 26px;
}

.kameli-options {
    display: inline-block;
}
    .kameli-options i {
        margin-left: 5px;
        vertical-align: middle;
        color: #ef7d00;
        font-size: 22px;
    }

    .kameli-options .dropdown-menu {
        top: 45px;
        right: -10px;
        left: auto;
    }

.kameli-seperator {
    display: inline-block;
    height: 36px;
    margin-right: 15px;
    margin-left: 8px;
    vertical-align: middle;
    border-right: 1px solid #dcddde;
    border-left: 1px solid #eeeff0;
}

.kameli-menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 220px;
    background: #22292f;
}

.kameli-menu-header {
    position: relative;
    max-height: 400px;
    padding-left: 15px;
    cursor: pointer;
    text-transform: uppercase;
    color: #909497;
    border-bottom: 1px solid #171D24;
    font-size: 13px;
    line-height: 45px;
}

.kameli-menu-items.collapsed { display: none; }

.kameli-menu-arrow {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 9px solid #909497;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

a.kameli-menu-item {
    display: block;
    padding-left: 15px;
    text-decoration: none;
    color: #d3d4d5;
    background: #171D24;
    font-size: 12px;
    line-height: 30px;
}

.kameli-menu-item i {
    padding-right: 6px;
    font-size: 16px;
}

.kameli-menu-item.active,
.kameli-menu-item:hover {
    color: #fff;
    background: #ef7d00;
}

.kameli-content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    color: #64696d;
    background: #f0f2f4;
}

.kameli-menu + .kameli-content {
    left: 220px;
}

.kameli-row {
    position: relative;
    padding: 30px 40px;
    border-bottom: 1px solid #d3d4d5;
}
    .kameli-row .row {
        margin-right: -15px;
        margin-left: -15px;
    }

.header-btn-container {
    position: absolute;
    bottom: 0;
    right: 40px;
}

.kameli-section {
    margin-bottom: 20px;
    padding: 8px 16px 16px;
    border: 1px solid #d3d4d5;
    background: #fff;
}

.kameli-section-header {
    margin: -8px -16px 16px;
    padding: 8px 16px;
    border-bottom: 1px solid #d3d4d5;
    background: #f7f8f9;
    font-size: 15px;
    font-weight: 600;
}

.kameli-login {
    width: 400px;
    margin: 100px auto 0;
}

.kameli-manager-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.kameli-manager-item:hover {
    border-color: #aaa;
}

a.kameli-manager-item {
    text-decoration: none;
}

.kameli-manager-item:hover .kameli-manager-delete {
    display: block;
}

.kameli-manager-delete {
    position: absolute;
    top: -14px;
    right: -8px;
    display: none;
    text-decoration: none;
    color: #f00;
    font-size: 20px;
}

.kameli-manager-delete:hover {
    top: -16px;
    right: -10px;
    text-decoration: none;
    color: #f00;
    font-size: 24px;
}

.kameli-post-image {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
    .kameli-post-image:hover:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: 'Slet';
        color: #eee;
        background: rgba(20, 20, 20, 0.5);
        font-size: 18px;
        line-height: 100px;
    }

.folder-icon {
    font-size: 65px;
}

.kameli-manager-img {
    overflow: hidden;
    height: 70px;
}

.kameli-manager-filename {
    margin-top: 4px;
    font-size: 12px;
}

.kameli-manager-files {
    overflow: auto;
    height: 290px;
    padding-top: 2px;
}

.kameli-table {
    border: 1px solid #ccc;
    background: #fff;
}

.btn-tab {
    padding: 8px 15px;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
    .btn-tab + .btn-tab {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
    }

    .btn-tab input[type="checkbox"] {
        position: relative;
        top: 1px;
        margin: 0;
    }

    .btn-tab:only-of-type {
        padding-left: 30px;
        padding-right: 30px;
    }

.label-header-message {
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 6px 10px;
    display: none;
    font-size: 12px;
}

.modal-content iframe {
    width: 100%;
    height: 365px;
    border: none;
}

#media-modal .modal-dialog,
#upload-modal .modal-dialog {
    width: 740px;
}

.language-flag {
    margin-top: -2px;
    margin-bottom: -2px;
}

.alert:last-child { margin-bottom: 0; }

.highlight-item {
    position: relative;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.highlight-item:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: 'Slet';
    text-align: center;
    color: #eee;
    background: rgba(20, 20, 20, 0.5);
    font-size: 18px;
    line-height: 70px;
}

::-webkit-scrollbar {
    width: 12px;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(255,255,255,0);
    border-radius: 12px;
    background-color: #A0A0A0;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(255,255,255,0);
    border-radius: 12px;
    background-color: #A0A0A0;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}

/*
|--------------------------------------------------------------------------
| Datatables
|--------------------------------------------------------------------------
*/

.dataTables_paginate { float: right; }
.dataTables_info { text-align: center; }

.dataTable .sorting:before,
.dataTable .sorting_desc:before,
.dataTable .sorting_asc:before {
    float: right;
    content: "\f0dc";
    font-family: FontAwesome;
    font-weight: normal;
}

.dataTable .sorting_desc:before {
    content: "\f0de";
}

.dataTable .sorting_asc:before {
    content: "\f0dd";
}

/* Menu sortable styles */

body.dragging { cursor: move; }

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

.sort-handle {
    cursor: move;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 40px;
    float: right;
    line-height: 20px;
}

.sortable-row {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    background: #e4f2fa;
}

li li > .sortable-row {
    background: #fff;
}

.sortable-expand {
    padding-left: 5px;
    padding-right: 5px;
}

.sortable-title {
    display: inline-block;
    width: 350px;
}

.sortable-languages {
    display: inline-block;
    width: 120px;
}

.sortable-actions {
    display: inline-block;
    float: right;
    width: 155px;
}

.vertical { padding-left: 0; }

.vertical > li > .sortable-row .sortable-title {
    margin-right: 30px;
}

.vertical > li > ol > li > .sortable-row .sortable-title {
    margin-right: 15px;
}

.vertical .fa-item {
    cursor: pointer;
}

.vertical ol .fa-item {
    cursor: default;
}

.vertical .fa-item:before {
    content: "\f107";
}

.vertical ol .fa-item:before {
    content: "\f105";
}

.vertical li {
    display: block;
}

.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }

.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: #171D24;
    border-right: none; }

ol ol {
    padding-left: 15px;
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,xl,n = small(5px),medium(10px),large(20px),x-large(40px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0 !important;}
.pts,.pvs,.pas{padding-top:5px !important;}
.ptm,.pvm,.pam{padding-top:10px !important;}
.ptl,.pvl,.pal{padding-top:20px !important;}
.ptxl,.pvxl,.paxl{padding-top:40px !important;}
.prn,.phn,.pan{padding-right:0 !important;}
.prs,.phs,.pas{padding-right:5px !important;}
.prm,.phm,.pam{padding-right:10px !important;}
.prl,.phl,.pal{padding-right:20px !important;}
.prxl,.phxl,.paxl{padding-right:40px !important;}
.pbn,.pvn,.pan{padding-bottom:0 !important;}
.pbs,.pvs,.pas{padding-bottom:5px !important;}
.pbm,.pvm,.pam{padding-bottom:10px !important;}
.pbl,.pvl,.pal{padding-bottom:20px !important;}
.pbxl,.pvxl,.paxl{padding-bottom:40px !important;}
.pln,.phn,.pan{padding-left:0 !important;}
.pls,.phs,.pas{padding-left:5px !important;}
.plm,.phm,.pam{padding-left:10px !important;}
.pll,.phl,.pal{padding-left:20px !important;}
.plxl,.phxl,.paxl{padding-left:40px !important;}
.mtn,.mvn,.man{margin-top:0 !important;}
.mts,.mvs,.mas{margin-top:5px !important;}
.mtm,.mvm,.mam{margin-top:10px !important;}
.mtl,.mvl,.mal{margin-top:20px !important;}
.mtxl,.mvxl,.maxl{margin-top:40px !important;}
.mrn,.mhn,.man{margin-right:0 !important;}
.mrs,.mhs,.mas{margin-right:5px !important;}
.mrm,.mhm,.mam{margin-right:10px !important;}
.mrl,.mhl,.mal{margin-right:20px !important;}
.mrxl,.mhxl,.maxl{margin-right:40px !important;}
.mbn,.mvn,.man{margin-bottom:0 !important;}
.mbs,.mvs,.mas{margin-bottom:5px !important;}
.mbm,.mvm,.mam{margin-bottom:10px !important;}
.mbl,.mvl,.mal{margin-bottom:20px !important;}
.mbxl,.mvxl,.maxl{margin-bottom:40px !important;}
.mln,.mhn,.man{margin-left:0 !important;}
.mls,.mhs,.mas{margin-left:5px !important;}
.mlm,.mhm,.mam{margin-left:10px !important;}
.mll,.mhl,.mal{margin-left:20px !important;}
.mlxl,.mhxl,.maxl{margin-left:40px !important;}